coffeeshop/src/main/webapp/WEB-INF/ws/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:types="http://coffeeshop.com/schemas/types"
	targetNamespace="http://coffeeshop.com/schemas/types"
	elementFormDefault="qualified">

	<complexType name="Product">
		<all>
			<element name="id" type="int" />
			<element name="name" type="string" />
			<element name="price" type="types:Money" />
		</all>
	</complexType>

	<simpleType name="Money">
		<restriction base="decimal">
			<fractionDigits value="2" />
		</restriction>
	</simpleType>
</schema>